@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$mainFont: 'Poppins';

*{
	box-sizing: border-box;
}

*::before,
*::after{
	box-sizing: border-box;
}

.link{
font-weight: 700;
display: inline-flex;
font-size: 16px;
line-height: 17px;
text-decoration-line: none;
color: #D4D6D4;
transition: color 0.3s ease-in-out;

svg{
	border-radius: 30%;
	fill: #D4D6D4;
	
}
&:hover{
	 color: #FFD723;
	 
}
&:hover svg{
	fill: #FFD723 ;
}

span{
	text-indent: 5px;
	border-bottom: 1px solid currentcolor;
}
}
.list__reset{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn__reset{
	font-family: $mainFont, sans-serif;
	font-weight: 400;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
body{
	font-family: $mainFont, sans-serif;
	font-weight: 400;
}

img{
	max-width: 100%;
}
 .header{
	 padding: 24px 0px;
	 position: absolute;
	 left: 0;	
	 top: 0;
	 width: 100%;

	 .burger{
		 width: 40px;
		 height: 40px;
		 background-color: #F5F6F7;
		 border-radius: 50%;
		 padding: 14px 11px;
		 position: relative;
		 .burger__line{
			 position: absolute;
			 left: 50%;
			 top: 10px;
			 background-color: #000;
			 display: inline-block;
			 	width: 50%;
				 height: 2.4px;
				 transform: translateX(-50%);
				}
				.burger__line:nth-child(2){
					top: 18px;
					height: 2.4px;
				}
				.burger__line:nth-child(3){
					top: 26px;
					height: 2.4px;
				}
	 }
 }

 .header_cont{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
 }
 .container{
	 max-width: 1140px;
	 padding: 0 15px;
	 margin: 0 auto;
 }

.hero{
	padding-bottom: 30px;
	padding-top: 189px;
	padding-bottom: 100px;
	min-height: 811px;
	background-image: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
}
.hero__content{
	max-width: 616px;
}
.hero__subtitle{
	display: inline-block;
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	}

.hero__title{
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
font-size: 60px;
line-height: 74px;
color: #fff;
}

.hero__desc{
	margin: 0;
	margin-bottom: 45px;
	font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #fff;
}

.site__title{
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
	color: #4D533C;
	text-align: center;
}
.services{
	margin-bottom: -180px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.services__list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}
.services__subtt{
	margin: 0;
	max-width: 183px;
	margin-bottom: 20px;
	font-weight: 400;
font-size: 24px;
line-height: 34px;
text-transform: uppercase;
}

.services__descr{
	margin: 0;
	margin-bottom: 56px;
	font-weight: 500;
	font-size: 14px;
	max-width: 194px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
}
.service__item{
	display: flex;
	align-items: flex-start;
	flex-direction: column;

}
.services__link{
	margin-bottom: 0;
	margin-top: auto;
}
.services__title{
	margin: 0;
	margin-bottom: 60px;
	max-width: 606px;
}

.together{
	position: relative;
	top: 180px;
	padding: 70px 0;
	background-color: #fafafa;
	width: 88%;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.together__title{
	margin: 0;
	min-width: 822px;
	font-weight: 700;
   font-size: 60px;
	line-height: 74px;
	color: #4D533C; 
	margin-bottom: 50px;
}

.together__link{
	text-transform: uppercase;
}

.footer{
	background-image: url(../img/footer.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
	color: #fff;
	padding-top: 300px;
}

.footer_top{
	display: flex;
	min-width: 448px;
	flex-wrap: wrap;
	padding-bottom: 52px;
	border-bottom: 1px solid #5D6544;

}
.footer_contacts_text{
	display: block;
	margin-bottom: 8px;
font-weight: 400;
font-size: 16px;
line-height: 40px;
 color: #B6C197;
}

.footer_contacts_value{
	display: inline-block;
	font-weight: 600;
	font-style: normal;
font-size: 16px;
line-height: 40px;
color: #FFFFFF;
text-decoration-line: none;
}
.footer_contacts_item:not(:last-child){
	margin-right: 128px;
}
 
.middle_footer_title{
	margin: 0;
	margin-bottom: 21px;
	font-weight: 600;
font-size: 16px;
line-height: 38px;
text-transform: uppercase;
}

.middle_footer_link{
	font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #B6C197;
text-decoration-line: none;
}

.footer_middle{
	padding-top: 60px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 60px;
	border-bottom: 1px solid #5D6544;
	gap: 39px;
}

.middle_footer_text{
	font-weight: 400;
font-size: 16px;
margin-bottom: 24px;
line-height: 26px;
color: #B6C197;
}
.footer__mail{
	display: inline-block;
	margin-bottom: 24px;
	font-weight: 700;
font-size: 24px;
line-height: 38px;
color: #FFFFFF;
text-decoration-line: none;

}

.social_link {
	display: block;
	height: 33px;
	width: 33px;
 }
 
 .social{
	 display: flex;
 }
 
 .social i{
	 background-color: #444A34;
	 width: 33px;
	 height: 33px;
 border-radius: 50%;
 padding-top: 8px;
 padding-left: 9px;
 color:  #5E6648;
 transition: color, 1s, ease-in-out;
 
 }
 .social_link{
	 margin-right: 10px;
 }
 .social_link_fb i{
	 padding-left: 11px;
 }
 .social i:hover{
	 background-color: #FFD723;
	 color: #fff;
 }
 
 .footer_bottom{
	 padding-top: 24px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
 
 }
